[submodule "Submodules/PeleLM"]
	path = Submodules/PeleLM
	url = https://github.com/AMReX-Combustion/PeleLM.git
        branch = Landon/soot_and_spray
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = https://github.com/AMReX-Combustion/PelePhysics.git
        branch = development
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/AMReX-Codes/amrex.git
        branch = development
[submodule "Submodules/IAMR"]
	path = Submodules/IAMR
	url = https://github.com/ldowen/IAMR.git
        branch = Landon/spray_mod
[submodule "Submodules/PeleC"]
	path = Submodules/PeleC
	url = https://github.com/AMReX-Combustion/PeleC.git
	branch = Landon/soot_and_spray
[submodule "Submodules/PeleC-MP"]
	path = Submodules/PeleC-MP
	url = https://github.com/AMReX-Combustion/PeleC-MP.git
	branch = cpp_spray
